# Data Cleaning Exercise

In [6]:
import pandas as pd
import sqlite3
import requests

In [8]:
#URL to obtain API data from

url = "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false"

response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()  # Convert response to JSON
else:
    print("Failed to fetch data")

In [10]:
df = pd.DataFrame(data)
df

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,35578.000000,695431973920,1,7.472352e+11,2.612335e+10,37904.00000,...,2.100000e+07,2.100000e+07,69045.00,-48.00405,2021-11-10T14:24:11.849Z,67.810000,52843.53313,2013-07-06T00:00:00.000Z,None,2023-11-16T19:41:33.196Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,1945.930000,234658958268,2,2.346590e+11,2.000925e+10,2079.65000,...,1.202547e+08,NaN,4878.26,-59.76804,2021-11-10T14:24:19.604Z,0.432979,453183.04392,2015-10-20T00:00:00.000Z,"{'times': 72.10276524976864, 'currency': 'btc'...",2023-11-16T19:41:36.610Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,0.999120,87133732003,3,8.713373e+10,4.288210e+10,1.00300,...,8.743479e+10,NaN,1.32,-24.38280,2018-07-24T00:00:00.000Z,0.572521,74.75126,2015-03-02T00:00:00.000Z,None,2023-11-16T19:40:07.924Z
3,binancecoin,bnb,BNB,https://assets.coingecko.com/coins/images/825/...,240.390000,36984304446,4,3.698430e+10,9.626391e+08,255.59000,...,1.538562e+08,2.000000e+08,686.31,-64.78504,2021-05-10T07:24:17.097Z,0.039818,606872.73989,2017-10-19T00:00:00.000Z,None,2023-11-16T19:41:36.166Z
4,ripple,xrp,XRP,https://assets.coingecko.com/coins/images/44/l...,0.607378,32583235847,5,6.064860e+10,1.447283e+09,0.65206,...,9.998822e+10,1.000000e+11,3.40,-81.99405,2018-01-07T00:00:00.000Z,0.002686,22680.19695,2014-05-22T00:00:00.000Z,None,2023-11-16T19:41:30.803Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,apecoin,ape,ApeCoin,https://assets.coingecko.com/coins/images/2438...,1.380000,508112161,96,1.378515e+09,8.146099e+07,1.50000,...,1.000000e+09,1.000000e+09,26.70,-94.84580,2022-04-28T21:44:21.164Z,1.008000,36.56448,2023-10-10T20:51:07.411Z,None,2023-11-16T19:41:38.863Z
96,illuvium,ilv,Illuvium,https://assets.coingecko.com/coins/images/1446...,83.860000,507380444,97,8.076868e+08,3.951153e+07,98.11000,...,9.612745e+06,NaN,1911.26,-95.55518,2021-11-30T15:18:57.382Z,29.230000,190.67085,2021-06-22T14:11:59.151Z,None,2023-11-16T19:41:34.839Z
97,trust-wallet-token,twt,Trust Wallet,https://assets.coingecko.com/coins/images/1108...,1.200000,499266678,98,1.198288e+09,4.804034e+07,1.30000,...,1.000000e+09,NaN,2.72,-55.65608,2022-12-11T23:25:46.205Z,0.002776,43357.44786,2020-06-09T09:15:06.983Z,None,2023-11-16T19:41:36.049Z
98,tether-gold,xaut,Tether Gold,https://assets.coingecko.com/coins/images/1048...,1980.890000,488442984,99,4.884430e+08,1.094320e+07,1986.84000,...,2.465243e+05,NaN,2169.74,-8.61972,2023-03-15T20:36:21.941Z,1447.840000,36.94285,2020-03-19T13:45:41.821Z,None,2023-11-16T19:41:40.574Z
99,compound-ether,ceth,cETH,https://assets.coingecko.com/coins/images/1064...,39.790000,487469834,100,4.875183e+08,1.650500e+02,41.72000,...,1.225319e+07,NaN,97.75,-59.29737,2021-11-21T12:39:57.508Z,1.890000,2009.27757,2020-03-13T02:22:33.711Z,None,2023-11-16T19:40:00.442Z

In [11]:
table_name = 'coins'

In [13]:
conn = sqlite3.connect('coins.sqlite')

In [16]:
df.to_sql("cryptocurrency_db", conn, if_exists="replace")

InterfaceError: Error binding parameter 25 - probably unsupported type.

In [ ]:
conn.commit()

In [ ]:
conn.close()

In [15]:
engine = create_engine("sqlite:///coins.sqlite", echo=False)

NameError: name 'create_engine' is not defined

In [ ]:
engine.execute(text('SELECT * FROM faunav')).fetchall()